.bg-color{
    background-color: rgb(44, 62, 80);
    
}

section{
   background-color: rgb(26, 188, 156);
}

.size{
    font-size: 4rem;
    color: white;
}

.cont-star-white{
    position: relative;
}

.cont-star-black{
    position: relative;
}

.size-black{
    font-size: 3rem;
    color: black;
}

.line-star-white{
    display: inline-block;
    height: 4px;
    width: 80px;
    margin-bottom: 1rem;
    background-color: white;
}

.line-star-black{
    display: inline-block;
    height: 4px;
    width: 80px;
    margin-bottom: 1rem;
    background-color: black;
}


.color-star{
    color: white;
    font-size: 3rem;
}

footer{
    background-color: rgb(58, 84, 109);
    
}

.copyright{
    background-color: rgb(44, 62, 80);
    
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}