.bg-color{
    background-color: rgb(44, 62, 80);
    
}

section{
   background-color: rgb(26, 188, 156);
}

.size{
    font-size: 4rem;
    color: white;
}

.cont-star-white{
    position: relative;
}

.cont-star-black{
    position: relative;
}

.size-black{
    font-size: 3rem;
    color: black;
}

.star-bootstrap-white .cont-star-white::before{
    position: absolute;
     content: ""; 
    top: 48%;
    left: 41%;
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
}

.star-bootstrap-white .cont-star-white::after{
    position:absolute;
    top: 48%;
    right: 41%;
     content:""; 
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
}

 .cont-star-black::before{
    position: absolute;
     content:""; 
    top: 48%;
    left: 44%;
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: black;
    border-radius: 10px;
}
  .cont-star-back::after{
    position:absolute;
    content: "";
    top: 48%;
    right: 40%;
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color:black;
    border-radius: 10px;
}








.color-star{
    color: white;
    font-size: 3rem;
}

footer{
    background-color: rgb(58, 84, 109);
    
}

.copyright{
    background-color: rgb(44, 62, 80);
    
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}